[Unit]
Description=Pcap script parsing and retrival service
After=multi-user.target

[Service]
Type=simple
User=denovo
WorkingDirectory=/opt/denovo/pcap2
ExecStart=/usr/local/bin/python3 /opt/denovo/pcap2/pcapparsd.py start
PIDFile=/opt/denovo/pcap2/logs/pcapparsd.pid
Restart=on-failure


[Install]
WantedBy=multi-user.target
